html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background1, white);
}

:root {
  --background1: rgb(25, 25, 25);
  --background2: rgb(246, 246, 79);
  --background3: rgb(238, 226, 236);
  --background4: rgb(50, 50, 50);
  --text1: rgb(242, 249, 186);
  --text2: rgb(58, 58, 58);
  --text-footer: rgb(242, 249, 186);
  font-size: 16px;
}

:root.light {
  --background1: rgb(255, 255, 255);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  font-size: 16px;
}

:root.dark {
  --background1: rgb(0, 0, 0);
  --background2: rgb(0, 0, 0);
  --text1: rgb(255, 255, 255);
  --text2: rgb(255, 255, 255);
  --text-footer: rgb(255, 255, 255);
  font-size: 16px;
}

body {
  display: grid;
  grid-template: 1fr 4fr 40px / 1fr 4fr;
}

header {
  display: grid;
  grid-template: 1fr 2fr / 2fr 1fr;

  background-color: rgb(240, 200, 247);
}

.header-top-left {
  display: flex;
  align-items: center;
}

.search-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1rem 0 1rem;
}

input {
  appearance: none;
  background-color: rgb(251, 251, 189);
  border-radius: 8px;
  border: 1px solid rgb(199, 1, 234);
  height: 1.5rem;
  width: 80%;
}

.header-top-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-top-right > * {
  margin-left: 2%;
  margin-right: 2%;
}

.bell-icon {
  height: 2.2rem;
  width: 2.2rem;
  margin-top: 0.5rem;
}

.batman2 {
  height: 3rem;
  width: 3rem;
  margin-bottom: -0.8rem;
}

.top-right-name {
  font-weight: 500;
  margin-right: 5%;
}

.header-bottom-left {
  display: flex;
  align-items: center;
}

.batman {
  height: 5rem;
  width: 5rem;
  margin: 0.5rem 1rem -1rem 1rem;
}

.profile-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.profile-name {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.header-bottom-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-bottom-right > button {
  height: clamp(30px, 40%, 50px);
  width: 25%;
  border-radius: 20px;
  border-style: none;
  border: 1px solid rgb(117, 117, 15);
  background-color: var(--background2);
}

.header-bottom-right > button:hover {
  height: 40%;
  width: 25%;
  border-radius: 20px;
  border-style: none;
  border: 1px solid rgb(143, 143, 56);
  background-color: rgb(255, 255, 134);
  color: rgb(48, 48, 48);
}

.header-bottom-right > button:active {
  height: 40%;
  width: 25%;
  border-radius: 20px;
  border-style: none;
  border: 1px solid rgb(44, 44, 0);
  background-color: rgb(255, 255, 45);
  color: black;
}

aside {
  /* border: 1px solid red; */
  background-color: var(--background2);

  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.nav1 {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 5%;
}

.nav1-top {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0 0 10%;
}

.bat {
  height: 4rem;
  width: 4rem;
}

.nav1-middle,
.nav1-bottom {
  font-size: 1rem;
  margin-left: 10%;
}

.nav1-middle {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.nav1-middle > div {
  display: flex;
}

/* Added button functionality to nav icons */

.nav1-middle > div > button {
  display: flex;
  width: 90%;
  padding: 0;
  border-radius: 10px;
  border-style: none;
  background-color: var(--background2);
}

.nav1-middle > div > button:hover {
  display: flex;
  width: 90%;
  padding: 0;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(255, 255, 134);
}

.nav1-middle > div > button > p {
  margin: 0.75rem;
}

/* Button end */


.nav1-middle > div > p {
  margin: 0.75rem;
}

.nav1-bottom {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.nav1-bottom > div {
  display: flex;
}

/* Added button functionality to nav icons */

.nav1-bottom > div > button {
  display: flex;
  width: 90%;
  padding: 0;
  border-radius: 10px;
  border-style: none;
  background-color: var(--background2);
}

.nav1-bottom > div > button:hover {
  display: flex;
  width: 90%;
  padding: 0;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(255, 255, 134);
}

.nav1-bottom > div > button > p {
  margin: 0.75rem;
}

/* Button end */


.nav1-bottom > div > p {
  margin: 0.75rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 10px;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;

  min-height: 0;
  min-width: 0; 
}

.main-left {
  display: grid;
  grid-template-rows: 8% 1fr;

  margin: 2%;
  margin-top: 0;
  
  min-height: 0;
  min-width: 0; 
}

.heading1,
.heading2,
.heading3 {
  font-weight: 500;
  color: var(--text1);
}

.content1 {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  gap: 15px;

  min-height: 0;
  min-width: 0; 
}

.content1 > div {
  display: grid;
  grid-template-rows: 1fr 3rem;

  min-height: 0;
  min-width: 0; 

  border-radius: 10px;
  background-color: var(--background3);
  border-left: 5px solid var(--background2);
}

.content1 > div > div:first-child {
  overflow: auto;
}

.project-name {
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.project-text {
  font-size: 0.9rem;
  color: var(--text2);
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.project-icons {
  display: flex;
  justify-content: end;
  margin: 0.5rem 0.9rem 0.9rem 0;
}

.icon2 {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.main-right {
  display: grid;
  grid-template-rows: 1fr 1fr;

  margin-right: 6%;
  margin-bottom: 6%;


  min-height: 0;
  min-width: 0; 
}

.main-right-top {
  display: grid;
  grid-template-rows: 16% 1fr;



  min-height: 0;
  min-width: 0; 
}

.content2 {
  display: grid;

  background-color: var(--background3);
  border-radius: 10px;



  min-height: 0;
  min-width: 0; 
}

.content2 > div {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  margin: 0.9rem;



  min-height: 0;
  min-width: 0; 
}

.content2 > div > div {
  overflow: auto;
}

.content2 > div > div:nth-child(2) {
  border-top: 1px solid var(--background4);
  border-bottom: 1px solid var(--background4);
}

.announcement-name {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.4rem 0 0.4rem 0;
}

.announcement-text {
  font-size: 0.8rem;
  color: var(--text2);
  margin: 0;
}

.main-right-bottom {
  display: grid;
  grid-template-rows: 16% 1fr;


  min-height: 0;
  min-width: 0; 
}

.content3 {
  display: grid;

  background-color: var(--background3);
  border-radius: 10px;



  min-height: 0;
  min-width: 0; 
}

.content3 > div {
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  margin: 0.9rem;



  min-height: 0;
  min-width: 0; 
}

.content3 > div > div {
/*   border: 1px solid red; */

  display: flex;

  overflow: auto;
}

.icon3 {
  height: 3rem;
  width: 3rem;
  margin: 0.1rem 0.4rem 0 0;
}

.name1 {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.3rem 0 0 0;
}

.name2 {
  font-size: 0.6rem;
  color: var(--text2);
  margin: 0.3rem 0 0 0;
}

footer {
  /* border: 1px solid red; */

  grid-column: 1 / 3;
  grid-row: 3 / 4;

  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--text-footer);

  background-color: var(--background4);
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}